* {
    color: #000;
    font-family: "Open Sans", Helvetica, Verdana, sans-serif;
    padding: 0;
    line-height: 1.5em;
    outline-width: 0;
}

body {
    margin: 0px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

p {
    margin-bottom: 1em;
}

a {
    text-decoration: none;
    color: #d54839;
}

a:hover {
    border-bottom: 1px solid #d54839;
}

fieldset {
    border: none;
    margin-bottom: 1em;
}

input + fieldset {
    margin-left: 0.5em;
}

label:first-child {
    display: inline-block;
    min-width: 10em;
}

input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]) {
    border: 1px solid #888;
}

textarea {
    border: 1px solid #888;
    vertical-align: top;
}

table {
    width:100%;
    border:0;
    border-spacing:10px;
}

.historie {
    text-align: center;
}

input[type="number"][max="1"],
input[type="number"][max="2"],
input[type="number"][max="3"],
input[type="number"][max="4"],
input[type="number"][max="5"],
input[type="number"][max="6"],
input[type="number"][max="7"],
input[type="number"][max="8"],
input[type="number"][max="9"] {
    max-width: 2em;
}

input[type="submit"],
.button {
    background: #ec7f62;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s;
    border: none;
    padding: 0.2em 0.5em;
    border-radius: 5px;
    outline-width: 0;
    cursor: pointer;
    white-space: nowrap;
    margin-bottom: 0.5em;
    display: inline-block;
    font-size: 1em;
    line-height: 2em;
    text-shadow: 0 0 1px #d54839;
}

.button {
    background: #fff;
    border: 1px solid #ec7f62;
    color: #ec7f62;
    text-shadow: none;
}

[type="submit"]:active,
.button:active {
    transform: translate3D(1px, 1px, 0);
}

#showMenu {
    width: 1px;
    height: 1px;
    color: #fff;
    position: absolute;
    left: -30px;
}

[for="showMenu"] {
    position: absolute;
    margin: 0.2em 0 0 0.2em;
    z-index: 2;
}

[for="showMenu"]:active {
    transform: none;
}

[for="showMenu"]:after {
    content: 'MENU';
    font-weight: bold;
    display: block;
    color: #ec7f62;
    font-size: 0.9em;
    line-height: 2em;
    cursor: pointer;
    padding-left: 0.2em;
    text-align: center;
    background: #fff;
    width: 3em;
}

#showMenu:checked + [for="showMenu"]:after {
    content: 'X';
}

.navigation {
    width: auto;
    list-style-type: none;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    padding: 2.5em 0 1.5em;
    transition: transform 0.3s;
    border-radius: 0 0 15px 0;
    transform: translate3d(-100%, 0, 0);
    background-color: white;
}

#showMenu:checked + [for="showMenu"] + .navigation {
    box-shadow: 2px 2px 2px #888;
    padding: 2.5em 1.5em 1.5em;
    transform: translate3d(0, 0, 0);
}

@media (min-width: 60em) {
    [for="showMenu"] {
        display: none;
    }

    .navigation {
        position: static;
        max-width: 50%;
        float: left;
        margin: 0 1em;
        transform: none;
        min-height: 30em;
    }

    #showMenu:checked + [for="showMenu"] + .navigation {
        box-shadow: none;
    }
}

.navigation > li:not(:last-child) {
    border-bottom: 1px solid #ec7f62;
}

.navigation a {
    color: #000;
    font-weight: normal;
    border: none;
    line-height: 2em;
    display: block;
}

.navigation a:hover, .navigation .active > a {
    color: #d54839;
}

.navigation ul {
    list-style-type: none;
    color: #888;
    padding-left: 1.5em;
}

a.header {
    display: block;
    overflow: hidden;
    margin: 0 auto;
    padding: 4em 1em 4em 4em;
    font-size: 0.6em;
    background: linear-gradient(to top, #ffffff 0%, #fccfaa 10%, #ffffff 20%);
    border: none;
}

.header img {
    height: 7em;
    max-height: 100%;
    float: left;
    margin-right: 2%;
}

.header h1,
.header h2 {
    font-weight: normal;
    line-height: 1.7em;
    color: #000;
}

.header h1 {
    margin-top: 0.3em;
}

@media (min-width: 30em) {
    a.header {
        font-size: 0.8em;
        padding: 3.5em 1em 3.5em 3.5em;
    }
}

@media (min-width: 40em) {
    a.header {
        font-size: 1em;
        padding: 4em 1em 4em 4em;
    }
}

.content {
    max-width: 80em;
    margin: 0 auto 2em;
    overflow: hidden;
}

.main {
    overflow: hidden;
    padding: 1em;
}

.main h1,
.main h2,
.main h3,
.main h4 {
    color: #d54839;
}

.main h1,
.main h2,
.main h3 {
    margin-bottom: 1em;
}


.main h1:not(:first-child),
.main h2:not(:first-child),
.main h3:not(:first-child),
.main form:not(:first-child) {
    margin-top: 2em;
}

.accordion [id^="show"] {
    width: 1px;
    height: 1px;
    color: #fff;
    position: absolute;
    left: -200em;
}

.accordion > label {
    display: block;
    background: #fccfaa;
    position: relative;
    padding: 0.2em 1em 0.2em 0.5em;
    cursor: pointer;
    margin-top: 1em;
}

.accordion > label:after {
    content: '▾';
    position: absolute;
    top: 0.2em;
    right: 0.5em;
}

.accordion > label input {
    margin-right: 0.5em;
}

.accordion > input:checked + label:after {
    content: '▴';
}

.accordion > label + div {
    display: none;
}

.accordion > input:checked + label + div {
    display: block;
}

.footer {
    margin: 4em 1em 0;
    padding: 1em;
    border-top: 1px solid #d54839;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    grid-gap: 1em;
}
.footer img {
    vertical-align: middle;
}
#app-version {
    font-size: 70%;
    color: #ccc;
    text-align: center;
}
@media (max-width: 30em) {
    .footer {
        grid-template-columns: auto;
    }
    .footer div {
        text-align: center;
    }
}


/* Archiv */
#programmliste h3 {
    /*   font-size: 15px; */
    background-color: transparent;
    display: block;
    padding-top: 4px;
    padding-right: 0px;
    padding-bottom: 2px;
    /*   padding-left: 32px; */
    margin: 0;
    font-weight: normal;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-decoration: none;
}

.programmpunkt-info {
    margin-bottom: 10px;
    font-size: 15px;
}

#programmliste h3 {
    background-position: 14px -58px;
}

#programmliste .programmtitel {
/*     padding-left: 16%; */
/*     padding-right: 16%; */
}

#programmliste p {
    /* width: 640px; */
/*     padding-left: 16%; */
/*     padding-right: 16%; */
    text-align: justify;
    clear: both;

}

#programmliste .vortragsform {
    float: right;
    text-align: right;
    width: 16%;
    font-size: 15px;
}

#programmliste .zeit-und-ort {
    float: right;
    text-align: center;
}

.kurzvita-titel {
    font-variant: small-caps;
    font-size: 15px;
    margin-bottom: 0px;
}

.kurzvita-titel::after {
    content: ":"
}

.kurzvita {
    font-size: 15px;
}

ul .submenu {
    visibility: hidden;
    height: 0;
    z-index: 1000;
}

/** Show the submenu on hover, focus ... **/
ul:hover .submenu,
ul:active .submenu,
ul:focus .submenu,
.submenu.open
{
    visibility: visible;
    height: auto;
}

div.error {
    background-color: #ffcccc;
    padding: 1em;
    border: solid #662222 1px;
    border-radius: 5px;
    margin-bottom: 1em;
}

li {
    margin-left: 1em;
}
